*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    ul, 
    ol{

    list-style: none;
    }
    

    a {
    text-decoration: none;
    }

    /*---header---*/

    .header 
    {background-color: white;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        height: 57.4px;

    
    
    }

    /*hearder-titulo*/

    .titulo-secundario{
        align-items: center;
        left: 50%;
        font-size: 30px;
        text-align: start;
        
    
    
    }
    
    /*---navbar-list---*/

    .navbar-list
    {
        
        text-align: center;
        align-items: center;
        display: flex;
        gap: 15px;
        clear: both; 
        background-color: white; height: 57px; width: 580px; position: relative; 
        position: absolute; top: 0;
        position: fixed;
        right: 0px 

        
        }
    


    /*navbar-item*/
    
    .navbar-item{
    text-align: center; 
    justify-content: space-between 10px;
    transition: all 0.5s; 
    padding: 15PX
    
    }

    /*section-encabezado*/
    


    /*---portada---*/

body{
    background-image: url(../img/jeffrey-dahmer-1426684.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 20em;
    
}

    /*---portada-principal---*/

    .portada-principal{
        text-align: start;
        padding: inline 20vh;
        border-radius: 0%;
        
        
    }

    /*titulo-secundario*/

.titulo-secundario{
    
    position: absolute; top: 63px; left: 2%;
    text-align: end;
    display: flex; justify-content: center;
    color: black;

}

    /*img-index*/

    .img-index{
        height: 300px;
        width: auto;
        position: relative; top: 10px;
    float: left;
    margin-right: 15px;
    }

    /*img-parrafo*/ /*header con media*/

  
    


.header{
    width: 100%;
    justify-content: center;
}

    @media screen and (min-width: 375px){
        .img-parrafo {
            z-index: 1;
            width: 500px;
            align-items: center;
            height: 770px;
            padding: 20px 20px;
            line-height: 1.5;
            background: white;
            margin-left: auto;
            margin-top: 20px;
            margin-right: auto;
            border-radius: 15px;
            
            
            }
        }
        
        
 
    
    /*img-infancia*/


    .img-infancia{
        height: 300px;
        width: auto;
        position: relative; top: 10px;
    float: left;
    margin-right: 15px;
    }
    
    
    /*img-parrafo-2*/

@media screen and (min-width: 768px){
    .img-parrafo-2{
        z-index: 1;
        width: 650px;
        align-items: center;
        height: 700px;
        padding: 20px 20px;
        line-height: 1.5;
        background: white;
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
        border-radius: 15px;
        
        
        }
    }
    
    @media screen and (max-width: 1200px){
        .img-parrafo-2 {
            z-index: 1;
            width: 650px;
            align-items: center;
            height: 700px;
            padding: 20px 20px;
            line-height: 1.5;
            background: white;
            margin-left: auto;
            margin-top: 20px;
            margin-right: auto;
            border-radius: 15px
            }
        }

    /*img-victimas*/

    .img-victimas{
    height: 500px;
    width: auto;
    position: relative; top: 5px; 
float: left;
margin-right: 15px;
}

/*img-parrafo-3*/

@media screen and (min-width: 768px){
    .img-parrafo-3 {
        z-index: 1;
        width: 650px;
        align-items: center;
        height: 950px;
        padding: 20px 20px;
        line-height: 1.5;
        background: white;
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
        border-radius: 15px;
        
        
        }
    }
    
    @media screen and (max-width: 1200px){
        .img-parrafo-3 {
            z-index: 1;
            width: 650px;
            align-items: center;
            height: 950px;
            padding: 20px 20px;
            line-height: 1.5;
            background: white;
            margin-left: auto;
            margin-top: 20px;
            margin-right: auto;
            border-radius: 15px
            }
        }

/*img-parrafo-4*/

@media screen and (min-width: 768px){
    .img-parrafo-4 {
        z-index: 1;
        width: 650px;
        align-items: center;
        height: 700px;
        padding: 20px 20px;
        line-height: 1.5;
        background: white;
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
        border-radius: 15px;
        
        
        }
    }
    
    @media screen and (max-width: 1200px){
        .img-parrafo-4 {
            z-index: 1;
            width: 650px;
            align-items: center;
            height: 700px;
            padding: 20px 20px;
            line-height: 1.5;
            background: white;
            margin-left: auto;
            margin-top: 20px;
            margin-right: auto;
            border-radius: 15px
            }
        }

/*img-parrafo-5*/

@media screen and (min-width: 768px){
    .img-parrafo-5 {
        z-index: 1;
        width: 650px;
        align-items: center;
        height: 700px;
        padding: 20px 20px;
        line-height: 1.5;
        background: white;
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
        border-radius: 15px;
        
        
        }
    }
    
    @media screen and (max-width: 1200px){
        .img-parrafo-5 {
            z-index: 1;
            width: 650px;
            align-items: center;
            height: 700px;
            padding: 20px 20px;
            line-height: 1.5;
            background: white;
            margin-left: auto;
            margin-top: 20px;
            margin-right: auto;
            border-radius: 15px
            }
        }
/*img-muerte*/

.img-muerte{
    height: 300px;
    width: auto;
    position: relative; top: 5px; 
float: left;
margin-right: 15px;
}

/*footer*/

footer{
    margin-bottom: 10px;
    color: white;
    }

    /*color de las letras de la barra nav*/

.navbar-nav .nav-link.active{
color: white;
justify-content: baseline;
}

/*navbar*/

.navbar-toggler{
    
background-color: white;

}

.navbar-brand{
    color: rgb(255, 255, 255);

}


.nav-item{
    padding: 15px;

}


.navbar-expand-xl{
    height: 80px;


}

.container-fluid{
    height: 60px;
}


    
.nav-link.active:hover{
    
    color: black;
    background-color: white;
    color: black;
    border-radius: 20px;
    size: 3rem;
}
    
    



.footer{
    color: white;
}


p::first-letter{
    size: 2rem;
}

